body {
  text-align: center;
  background-color: pink;
  color: rgb(18, 186, 237);
  font-family: sans-serif;
  font-size: 24px;
}

.weirdo {
  opacity: .9;
}

.weirdo:hover {
  filter: drop-shadow(0px 5px 5px #222);
  opacity: 1;
  transition: .2s;
  cursor: pointer;
}

#kiwi {
  width: 7%;
}

#couch {
  width: 20%;
}

#logo {
  width:50%;
}
