body {
  text-align: center;
  background-color: pink;
  color: rgb(18, 186, 237);
  font-family: sans-serif;
  font-size: 24px;
}

#kiwi {
  width: 7%;
}

#couch {
  width: 20%;
}

#logo {
  width:50%;
}
